@inherits LayoutComponentBase

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main" style="background-image: linear-gradient(#0e9af2, #3cf7e6, #f4e081); height:100vh;">
@*        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@

        <div class="content px-4 fill">
            @Body
        </div>
    </div>
</div>
