@inherits LayoutComponentBase

<div class="page h-100">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main h-100">
@*        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@

        <div class="content px-4 h-100 fill">
            @Body
        </div>
    </div>
</div>
